<% now = Time.zone.now %>
<div class="page-header">
  <h2>疾患を選択</h2>
</div>
<div class="list-group">
  <%= @disease.each do |disease| %>
    <%= link_to(event, class: 'list-group-item') do %>
      <h4 class="list-group-item-heading">
        <% disease.name %>
      </h4>
    <% end %>
  <% end %>
</div>
